<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67292a4e-f6c9-434a-a736-d15ffd2230f5" Alias="XmlSiteMapSettings - Hide From Xml Sitemap - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>XmlSiteMapSettings - Hide From Xml Sitemap - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>