<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="72a8c792-febf-4202-b07d-232632733fd5" Alias="blog" Level="2">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blog</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="fbecda5a-df0f-4272-915b-a002bf581846" SortOrder="0">blogPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>