<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e7eb2348-b0c0-4335-9d1b-27cd8385146a" Alias="homePage" Level="1">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="4443811d-60fc-4bad-8ee5-e984189aa8a9">xmlSiteMapSettings</Composition>
    </Compositions>
    <DefaultTemplate>homePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c9950d30-6f8a-4ea9-9a26-59167bc96a7f">homePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="72a8c792-febf-4202-b07d-232632733fd5" SortOrder="0">blog</ContentType>
    <ContentType Key="fe08c389-6c21-4159-85d4-6a2f9d60172f" SortOrder="1">xmlSiteMap</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>36b65342-01a0-47c4-9760-a325762c3b20</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d11d1ebf-5a27-4249-a01f-65ce858c5a8e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>