<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76930da5-c556-48f0-8a87-ae6476e7951a" Alias="BlogPage - Body - Rich Text Editor Property Editor UI" Level="1">
  <Info>
    <Name>BlogPage - Body - Rich Text Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Inline",
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "link",
    "umbmediapicker",
    "umbembeddialog"
  ]
}]]></Config>
</DataType>