<?xml version="1.0" encoding="utf-8"?>
<DataType Key="729b2eee-89c9-4154-b705-70166400a7a3" Alias="XmlSiteMapSettings - Search Engine Relative Priority - Slider Property Editor UI" Level="1">
  <Info>
    <Name>XmlSiteMapSettings - Search Engine Relative Priority - Slider Property Editor UI</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "initVal1": 1,
  "initVal2": 0,
  "maxVal": 10,
  "minVal": 1,
  "step": 5
}]]></Config>
</DataType>