<?xml version="1.0" encoding="utf-8"?>
<DataType Key="94005fea-fd7d-4818-8c23-9431c9c2a6e6" Alias="XmlSiteMapSettings - Search Engine Change Frequency - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>XmlSiteMapSettings - Search Engine Change Frequency - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Always",
    "Hourly",
    "Daily",
    "Weekly",
    "Monthly",
    "Never"
  ]
}]]></Config>
</DataType>