<?xml version="1.0" encoding="utf-8"?>
<Content Key="925a0cf7-04aa-40cb-b3a1-577be05cd01c" Alias="404" Level="2">
  <Info>
    <Parent Key="4fba628e-14a1-4d21-b915-ec05b479335a">Statuscodes</Parent>
    <Path>/Statuscodes/</Path>
    <Trashed>false</Trashed>
    <ContentType>notFoundPage</ContentType>
    <CreateDate>2024-10-20T21:17:30</CreateDate>
    <NodeName Default="404" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="449f13b2-1b6d-40cd-90fc-d0de058ed435">notFoundPage</Template>
  </Info>
  <Properties />
</Content>