<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ead6af1-16d5-4cc6-9ed9-54b1cebe4797" Alias="HomePage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-10-21T14:38:03</CreateDate>
    <NodeName Default="HomePage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c9950d30-6f8a-4ea9-9a26-59167bc96a7f">homePage</Template>
  </Info>
  <Properties>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <seoDescription>
      <Value><![CDATA[Software Development Blog]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[danielproctor.dev]]></Value>
    </seoTitle>
    <title>
      <Value><![CDATA[Posts]]></Value>
    </title>
  </Properties>
</Content>