<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fba628e-14a1-4d21-b915-ec05b479335a" Alias="Statuscodes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Statuscodes</Path>
    <Trashed>false</Trashed>
    <ContentType>statuscodes</ContentType>
    <CreateDate>2024-10-20T21:17:24</CreateDate>
    <NodeName Default="Statuscodes" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>