@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePageViewModel>
@{
	Layout = "master.cshtml";
}

<h1>@Model.Title</h1>

@if(Model?.BlogListing.Items != null)
{
	@foreach(var blog in Model.BlogListing.Items)
	{
		<a href="@blog.Url"><h3>@blog.Title</h3></a>
		<i class="fa-regular fa-calendar-days"></i>
		<span><i>@blog.CreateDate.ToString("MMM dd, yyyy | 'at' hh:mm tt")</i></span>
	}
}