<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2f26af52-3736-4193-948b-141f9c61a781" Alias="blogListingPage" Level="2">
  <Info>
    <Name>Blog Listing Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blog</Folder>
    <Compositions>
      <Composition Key="32e3a433-4d66-4cfc-8dc6-6e3fe414c257">rssSettings</Composition>
      <Composition Key="b2ca1fe8-1c09-4046-a5b6-410ae343b70c">seoSettings</Composition>
      <Composition Key="4443811d-60fc-4bad-8ee5-e984189aa8a9">xmlSiteMapSettings</Composition>
    </Compositions>
    <DefaultTemplate>blogListingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2f8e5197-14d4-4e0b-86d9-a2b10816b726">blog</Template>
      <Template Key="755ec900-ae40-41d3-9c56-618dcfa2561c">blogListingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fbecda5a-df0f-4272-915b-a002bf581846" SortOrder="0">blogPage</ContentType>
    <ContentType Key="94cb7339-7e5a-40c8-b040-00717c370dfc" SortOrder="1">rssFeedPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>