<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="96972304-760d-4ab6-a3ec-eb19f4bd25ef" Alias="notFoundPage" Level="2">
  <Info>
    <Name>NotFoundPage</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Error+Handling</Folder>
    <Compositions />
    <DefaultTemplate>notFoundPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="449f13b2-1b6d-40cd-90fc-d0de058ed435">notFoundPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>