<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad6c5d34-b81a-4e49-860c-c9a9dd131266" Alias="statuscodes" Level="2">
  <Info>
    <Name>Statuscodes</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Error+Handling</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="96972304-760d-4ab6-a3ec-eb19f4bd25ef" SortOrder="0">notFoundPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>